<ion-header>

  <custom-logged-header [title]="pageTitle"></custom-logged-header>

</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngFor="let m of messages"> {{ m }} </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-item no-lines>
      <ion-input type="text" (keyup.enter)="sendMessage(newMessage); newMessage=''" placeholder="Message..." [(ngModel)]="newMessage"></ion-input>
      <button ion-button item-right (click)="sendMessage(newMessage); newMessage=''">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>