<ion-header>
  <custom-logged-header [title]="view | capitalize:true"></custom-logged-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="chats">Chats</ion-segment-button>
      <ion-segment-button value="users">Users</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>

  <div [ngSwitch]="view">

    <ion-list *ngSwitchCase="'chats'" no-lines>
      <ion-item>Chats</ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'users'" no-lines>
      <button ion-item *ngFor="let user of users | async" (click)="onChatCreate(user)">
        {{user.name}}
      </button>
    </ion-list>

  </div>



  <button ion-button block (click)="signup()">Sign Up</button>
</ion-content>