<ion-header>

    <ion-navbar>
      <ion-title>Sign In</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <h1 text-center>
      <ion-icon class="auth-icon" name="chatboxes" color="primary"></ion-icon>
    </h1>
  
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit(); $event.preventDefault()">
  
      <ion-item>
        <ion-icon name="mail" item-start color="primary"></ion-icon>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-icon name="lock" item-start color="primary"></ion-icon>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
  
      <br>
      <button ion-button full type="submit" [disabled]="signinForm.invalid">Enter</button>
  
    </form>
  
    <button ion-button full clear textx-center (click)="onSignup()">Sign Up</button>
  
  </ion-content>