<ion-navbar>
  <ion-title>
    {{tite}}
  </ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="onLogout()">
      <ion-icon name="exit"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>